	<footer>
	<div id= "cprt">Copyright {{year}} </div>
	<hr color="silver" margin= '1px'>
		<ul>
			<li><a href='/about'>About Me</a></li>
			<li><a href='/contact'>Contact Me</a></li>
			<li><a href='privacy'>Privacy Policy</a></li>
		</ul>
	</footer>