<header>
	      <h3>Bhuwan Adhikari</h3>
	    <ul>
	        <li><a href="/">Home</a></li>
	        <li><a href="/blogs">Blogs</a></li>
	        <li><a href="/gallery">Gallery</a></li>
	        <li><a href="/projects">Projects</a></li>
	        <li><a href="/explore">Explore</a></li>
	        <li><a href="/about">About</a></li>
	    </ul>
	</header>