<!DOCTYPE html>
<html>
<Head>
	<Title>Bhuwan Adhikari</Title>
	<link href="https://fonts.googleapis.com/css?family=Righteous|Slabo+27px" rel="stylesheet">
	 <link  rel='stylesheet' type="text/css" href='css/index.css'>
	

</Head>

<body>
	{{>header}}
	<main id="wrapper">
	    <div id="page-description">
	        <div id="description">
	            Welcome to {{pageName}}
	        </div>
	        <div id="blogs-wrapper">
	            <div class="blog">
	                <h4>Diving into sea of Communism</h4>
	                <div class="blogs-images"></div>
	                <p>
	                    "All the properties, goods and means of production when owened by the government means communism."
	                </p>
	            </div>
	        </div>
	    </div>
	</main>
	{{>footer}}
</body>
</html>