<!DOCTYPE html>
<html>
<Head>
	<Title>Bhuwan Adhikari</Title>
	<link href="https://fonts.googleapis.com/css?family=Righteous|Slabo+27px" rel="stylesheet">
	 <link  rel='stylesheet' type="text/css" href='css/index.css'>
	

</Head>

<body>
	{{>header}}
	<main id="wrapper">
	    <div id="page-description">
	        <div id="description">
	            Welcome to {{pageName}}
	        </div>
	    </div>
	</main>
	{{>footer}}
</body>
</html>