<!DOCTYPE html>
<html>
<Head>
	<Title>Bhuwan Adhikari</Title>
	<link href="https://fonts.googleapis.com/css?family=Righteous|Slabo+27px" rel="stylesheet">
	 <link  rel='stylesheet' type="text/css" href='css/index.css'>
	

</Head>

<body>
	{{>header}}
	<main id="wrapper">
	    <div id="page-description">
	        <div id="description">
	            Welcome to {{pageName}}
	        </div>
	        <div id="projects-wrapper">
	            <div class="project">
	                <h4>Getting Started with Node js.</h4>
	                <div class="project-images"></div>
	                <p>
	                    Node js is one of the extension of javascript and used in making web apps. It is used by many companies in their backend development.
	                </p>
	            </div>
	        </div>
	    </div>
	</main>
	{{>footer}}
</body>
</html>